<div class="col-md-6 col-md-offset-3">

  <div class="signup-form">
    <%= simple_form_for @user, :html => {:multipart =>true } do |f| %>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "Error") %> Antes de guardar: </h2>

          <ul>
            <% @concurso.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <%end%>

          </ul>
        </div>
      <%end%>

      <h1>Editar Usuario</h1>
      <h1><%= @user.email_com %></h1>

      <%= f.input :nombre, label: "Nombres"%>
      <%= f.input :apellidop, label: "Apellido Paterno"%>
      <%= f.input :apellidom, label: "Apellido Materno"%>
      <%= f.input :rut, label: "Rut"%>
      <%= f.input :cargo, label: "Cargo"%>
      <%= f.input :admin, label: "Administrador"%>

     <h2> <%= f.button :submit,"Modificar datos"%></h2>

      <%= f.button :button do %>
        <%= link_to "cancelar", users_path %>
      <% end %>


      <%= f.button :button do %>
        <%= link_to "volver", users_path %>
      <% end %>

   <% end %>


  </div>
</div>

