<div class="col-md-6 col-md-offset-3">

  <div class="new-book-form">

        <h4>Email: <%= link_to user.email_com, user  %></h4>
        <h5>Nombre: <%= user.nombre %></h5>
        <h5>Apellido Paterno: <%= user.apellidop %></h5>
        <h5>Apellido Materno:  <%= user.apellidom %></h5>
        <h5>Rut: <%= user.rut %></h5>
        <h5>Administrador:  <%= user.admin %></h5>


  </div>
</div>


