<div class="col-md-6 col-md-offset-3">

  <div class="new-book-form">

    <h1>modificar Area</h1>

    <%= simple_form_for @area, :html => {:multipart =>true } do |f| %>

      <%= f.input :nombre %>
      <%= f.button :submit,"Modificar Area" %>

      <%= f.button :button do %>
        <%= link_to "volver", root_path %>
      <% end %>

    <%end%>

  </div>

</div>

